[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "4.9.1"
django-ajax-selects = "1.7.1"
django-bootstrap4 = "2.1.1"
django-colorfield = "0.3.1"
django_hitcount = "1.3.3"
django-storages = "1.9.1"
django-timezone-field = "4.0"
django = "2.2.13"
django-crontab = "0.7.1"
djangorestframework = "3.11.0"
docutils = "0.15.2"
ghost="0.6.1"
gunicorn="20.0.4"
lxml = "4.6.2"
pandas = "1.2.2"
praw = "7.1.3"
requests = "2.24.0"
selenium = "3.141.0"
pyyaml = "*"
whitenoise = "5.2.0"
yahoo_fin = "0.8.6"

[requires]
python_version = "3.7"
