[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "==3.1.0"

[packages]
beautifulsoup4 = "*"
boto3 = "*"
celery = "==4.4.6"
django = "==2.2.*"
django-bootstrap4 = "*"
django-storages = "*"
django_celery_beat = "*"
flower = "*"
kombu = "==4.6.11"
psycopg2-binary = "*"
pusher = "*"
python-dateutil = "*"
python-memcached = "*"
python-postmark = "*"
pytz = "*"
PyYAML = "*"
pipenv = "*"
redis = "*"
requests = "*"
django-colorfield = "*"
inflector = "*"
oyaml = "*"
django-simple-history = "*"
django-db-mutex = "*"
boto = "*"
dnspython = "*"
python-whois = "*"
tld = "*"
django-ajax-selects = "==1.7.1"
django-encrypted-model-fields = "*"
geotext = "*"
social-auth-app-django = "*"
djangorestframework = "*"
py-trello = "*"
pillow = "*"
numpy = "*"
tinys3 = "*"
django-celery-results = "*"

[requires]
python_version = "3.7"
