-i https://pypi.org/simple
beautifulsoup4==4.9.1
django-ajax-selects==1.7.1
django-bootstrap4==2.1.1
django-colorfield==0.3.1
django-storages==1.9.1
django-timezone-field==4.0
django==2.2.13
django-crontab
djangorestframework==3.11.0
docutils==0.15.2
praw==7.1.2
requests==2.24.0
tornado==6.0.4; python_version >= '3.5.2'
urllib3==1.25.9; python_version != '3.4'
