{% extends "layout/base.html" %}
{% block content %}
<h2>Investor Hub Ticker Trends</h2>
<table class="table table-striped" style="width:50%, text-align: center">
  <tr>
    <th>Symbol</th>
    <th>Full Name</th>
    <th>Activity Weight (Past 12 Hrs)</th> 
  </tr>
    {% for weights in ticker_weights %}
  <tr>
    <td><div>{{ weights.tickers.symbol}}</div>
    <div>
    <a target="_blank" href="https://finviz.com/quote.ashx?t={{ weights.tickers.symbol}}">
        <img alt="finviz link" src="/static/images/finviz.png"
        width="20" height="20">
    </a>
    <a target="_blank" href="https://finance.yahoo.com/quote/{{ weights.tickers.symbol}}">
        <img alt="yahoo link" src="/static/images/yahoo.ico"
        width="20" height="20">
    </a>
    </div>
    </td>    <td>{{ weights.tickers.full_name}}</td>
    <td>{{ weights.weight }}</td>
  </tr>
  {% endfor%}
</table>

<canvas id="myChart" width="300" height="100"></canvas>


{% endblock %}