{% extends "layout/base.html" %}
{% block content %}
<h2>Reddit Ticker Trends</h2>
 <canvas id="myChart" width="300" height="75"></canvas>
 <canvas id="mySecondChart" width="300" height="75"></canvas>
<table class="table table-striped" style="width:50%, text-align: center">
  <tr>
    <th>Symbol</th>
    <th>Full Name</th>
    <th>Hits (Past 12 Hrs)</th>
  </tr>
    {% for hits in ticker_hits %}
  <tr>
    <td><a href="https://finviz.com/quote.ashx?t={{ hits.tickers.symbol}}&ty=c&ta=1&p=d" target="_blank">{{ hits.tickers.symbol}}</a></td>
    <td>{{ hits.tickers.full_name}}</td>
    <td>{{ hits.hits }}</td>
  </tr>
  {% endfor%}
</table>


{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
<script>
var symbol = {{symbol|safe}}
var hits = {{hits|safe}}
var sec_symbol = {{sec_symbol|safe}}
var sec_hits = {{sec_hits|safe}}

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: symbol,
        datasets: [{
            label: 'Highest Tickers (Past Week)',
            data: hits,
            backgroundColor: '#5EBC00',
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('mySecondChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: sec_symbol,
        datasets: [{
            label: 'Second Highest Tickers (Past Week)',
            backgroundColor: "#0000ff",
            data: sec_hits
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
