{% extends "layout/base.html" %}
{% load static %}
{% load tz %} 
{% block content %}
<h2>Tickers Trending on Twitter</h2>
<table class="table table-striped" style="width:50%, text-align: center">
  <tr>
    <th>Symbol</th>
    <th>Full Name</th>
    <th>Date</th> 
  </tr>
    {% for tickers in twitter_tickers %}
  <tr>
    <td><div>{{ tickers.tickers.symbol}}</div>
    <div>
    <a target="_blank" href="https://finviz.com/quote.ashx?t={{ tickers.tickers.symbol}}">
        <img alt="finviz link" src="{% static "images/finviz.png" %}"
        width="20" height="20">
    </a>
    <a target="_blank" href="https://finance.yahoo.com/quote/{{ tickers.tickers.symbol}}">
        <img alt="yahoo link" src="{% static "images/yahoo.ico" %}
        width="20" height="20">
    </a>
    </div>
    </td>    <td>{{ tickers.tickers.full_name}}</td>
    <td>{% timezone "America/Chicago" %}{{ tickers.created_at }} {% endtimezone %}</td>
  </tr>
  {% endfor%}
</table>

<canvas id="myChart" width="300" height="100"></canvas>


{% endblock %}