{% extends "layout/base.html" %}
{% block content %}
<body>
<div class"container">
<div class="row">
<div class="col-sm-4 col-xs-12 text-center">
<h2>Reddit: {{reddit}}</h2>
{% if reddit_data|get_item:'Quote Price' > reddit_data|get_item:'Open' %}
<div>Last Price: <span class="price_up">{{reddit_data|get_item:'Quote Price'}}<i class='fas fa-arrow-up'></i></span></div>
{% else %}
<div>Last Price: <span class="price_down">{{reddit_data|get_item:'Quote Price'}}<i class='fas fa-arrow-down'></i></span></div>
{% endif %}
<div>Volume: {{reddit_data|get_item:'Volume'}}</div>
</div>
<div class="col-sm-4 col-xs-12 text-center">
<h2>Twitter: {{twitter}}</h2>
{% if twitter_data|get_item:'Quote Price' > twitter_data|get_item:'Open' %}
<div>Last Price: <span class="price_up">{{twitter_data|get_item:'Quote Price'}}<i class='fas fa-arrow-up'></i></span></div>
{% else %}
<div>Last Price: <span class="price_down">{{twitter_data|get_item:'Quote Price'}}<i class='fas fa-arrow-down'></i></span></div>
{% endif %}
<div>Volume: {{twitter_data|get_item:'Volume'}}</div>
</div>
<div class="col-sm-4 col-xs-12 text-center">
<h2>I-Hub: {{ihub}}</h2>
{% if ihub_data|get_item:'Quote Price' > ihub_data|get_item:'Open' %}
<div>Last Price: <span class="price_up">{{ihub_data|get_item:'Quote Price'}}<i class='fas fa-arrow-up'></i></span></div>
{% else %}
<div>Last Price: <span class="price_down">{{ihub_data|get_item:'Quote Price'}}<i class='fas fa-arrow-down'></i></span></div>
{% endif %}
<div>Volume: {{ihub_data|get_item:'Volume'}}</div>
</div>
</div>

</div>
<canvas id="myChart"></canvas>
</body>

{% endblock %}


{% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script>
{% comment %} var symbol = {{symbol|safe}} {% endcomment %}
var data = {{open_data|safe}}
var data_date = {{data_date|safe}}
console.log(data)
console.log(data_date)
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: '{{data_date}}',
        datasets: [{
            label: '{{reddit}}',
            data: data,
            backgroundColor: 'rgba(0, 0, 172, 0.3)',
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}